.password-container{
    padding: 15px;
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        /* border: solid; */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        background: #ccddea;
}


 .form {

    padding: 20px;
     height: 30rem;
     width: 25rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
     gap:10px;
 }

 .form input {
     padding: 0.5rem;
     font-size: 1rem;
     border-radius: 5px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
     /* border:solid; */

 }

.password-container .send-btn {

      padding: .6rem 1.6rem;
      display: inline-block;
      width: fit-content;
      cursor: pointer;
      border-radius: .5rem;
      border: none;
      font-size: .9rem;
      font-weight: 500;
      transition: .3s ease;
      background: var(--text-color2);
      color: white;
  }

.password-container .send-btn:hover {
      transform: scale(1.05) translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      background: var(--text-color2);
      /* optional */
  }

.password-container .Heading {
      color: var(--text-color2);

      /* background: var(--color-bg); */
  }