

.decks-container{

    display:grid;
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
    justify-items: center;
    gap: 20px;/* spacing between cards */
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 778px) {
    .decks-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 per row on smaller screens */
    }
}