 

 .leftbar{

    position:sticky;
    left:0;
    background:var(--color-card);
    /* overflow-y: auto;allow scrolling inside sidebar */
   
 }

 .leftbar::-webkit-scrollbar{
    display:none;
 }

 .left-container{
    width:80%;
    margin:0 auto;
   border: solid;
   border-radius: 10px;
      
 }

 .left-container .user{
   
    margin-top: 20px;

 }
 
 .left-container .item{
  display:flex;
  align-items:center;
  gap:10px;
  margin:20px 0;
 }

hr{
    background: var(--color-border);
    /* border:none; */
    height:.4px;
    margin-bottom:5px;
}
.left-container  a {
   color: var(--color-primary);

}

/* start media scrin.......*/

@media ( max-width:1024px){

    .left-container{
        width:fit-content;
    }
    .left-container h4{
        display:none;
    }
}

@media (max-width:991px){

   .leftbar{
    display: none;
   }

}


