 

 .leftbar{

    position:sticky;
    left:0;
    margin:5px;
    overflow-y: auto;/*allow scrolling inside sidebar*/
   
 }

 .leftbar::-webkit-scrollbar{
    display:none;
 }

 .left-container{
    width:80%;
    margin:0 auto;
    padding: 15px;
   /* border: solid; */
   border-radius: 10px;
      
 }

 .leftbar .menu{
   
   background: #ccddea;
   border-radius: 10px;
 }
 
 .leftbar .content-list{ 
    background: #ccddea;
   border-radius: 10px;
   padding-top: 0px;
   padding: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
 }


 .left-container .user{
   
    margin: 0px;
    padding:10px;

 }
 
 .left-container .item{
  display:flex;
  align-items:center;
  gap:10px;
  margin:20px 0;
 }

hr{
    background: var(--text-color1);
    /* border:none; */
    height:.4px;
    margin-bottom:5px;
}
.left-container a{
   color: var(--text-color2);
}
.left-container .Heading{
   color: var(--text-color2);
  
   background: var(--color-bg);
}

/* start media scrin.......*/

@media ( max-width:1024px){

    .left-container{
        width:fit-content;
    }
    .left-container h4{
        display:none;
    }
}

@media (max-width:991px){

   .leftbar{
    display: none;
   }

}


