


.home-container{
    border: solid;
    border-radius: 10px;
    width: 96%;
   /* overflow-y: auto;  */
    /*inherit from .container*/
}

.heading{
  height: 4.5rem;
  border: solid;
 border-radius: 10px;
 background-color:var(--color-card);
 text-align: center;

 margin-bottom:20px; 
 position:sticky;
 top:0;/*relative to nearest scrollable ancestor */ 

 display:flex;
 justify-content: space-around;
 align-items: center;
}