
/* for all */
*{
  margin:0;
  padding:0;
  box-sizing:boarder-box;
  text-align:none;
  list-style:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  outline:none;
  border:none;
}

:root{
  --color-primary:#6c63ff;
  --text-color:black;
  --color-bg:rgb(236,236,236);
  --color-card:white;
  --color-soft:#aaaaaa;
  --color-border:lightgrey;
  --color-red:red;


  --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;


}

.darkmood{
  --text-color: white;
    --color-bg: black;
    --color-card:#111111;
    --color-soft: #aaaaaa;
}

/* classSelctor */
body {
  background: var(--color-bg);
  color: var(--color-soft);
  overflow: hidden;

}

.container{
  max-width:991px;
  width:100%;
  height:100%;
  margin:0 auto;
}

h1,h2,h3,h4,h5{
  font-weight: 600;
  color: (--text-color);
}

img{
  width:100%;
  display:block;
  object-fit:cover;
}

.user{
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:10px;
}

.user img{
  width:70px;
  aspect-ratio:1/1;
  border-radius:50% ;
}

.user h4{
  color:var(--color-primary);
}



small,p{
  color:var(--color-soft);
}

.btn{
   padding:.6rem 1.6rem;
   display:inline-block;
   width:fit-content;
   cursor:pointer;
   border-radius: .5rem;
   border:none;
   font-size: .9rem;
   font-weight:500;
   transition: .3s ease;
}

.btn:hover{
  opacity: .7;
}
.btn-primary{
  background:var(--color-primary);
  color:white;
}

.btn-red{
  background:var(--color-red);
  color:rgb(224, 12, 12);
}


main{
  background-color:var(--color-bg );
  display:grid;
 /* justify-content: space-around; */
  grid-template-columns: 20% 80%;
  gap:3%;
  width: 100%; 
  height:100vh;
}

.nav-home{
  width:20px;
  height:20px;
}